{% extends 'base.html.twig' %}
    {% block logo %}
        <img src="{{asset('img/logodef.png')}}" alt="">
    {% endblock %}
{% block body %}
{{ parent() }}
<section class="solid_banner_area">
        <div class="container">
            <div class="solid_banner_inner">
                <h1>Carrito</h1>
                <ul>
                    <li><a href="{{url('ultimos')}}">Home</a></li>
                    
                </ul>
            </div>
        </div>
    </section>
    <div class="container">
            
        <!--================Shopping Cart Area =================-->
        <section class="shopping_cart_area p_100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="cart_items">
                                <h3>Tú carrito</h3>
                                <table class="table-responsive">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody id="tablecart">
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="cart_totals_area">
                                <h4>Total piezas</h4>
                                <div class="cart_t_list">
                                    <div class="media">
                                        <div class="d-flex">
                                            <h5>Subtotal</h5>
                                        </div>
                                        <div class="media-body">
                                            <h6 id="subtotal"></h6>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="d-flex">
                                            <h5>IVA</h5>
                                        </div>
                                        <div class="media-body">
                                            <p>Será añadido un 21% por cada producto por el IVA</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="total_amount row m0 row_disable">
                                    <div class="float-left">
                                        Total
                                    </div>
                                    <div class="float-right">
                                        
                                    </div>
                                </div>
                            </div>
                            <button type="submit"  value="submit" class="btn update-btn form-control btn-login"><a id="comprar" data-toggle="modal" data-target="#myModal">Pasar por caja</a></button>
                        </div>
                    </div>
                </div>
            </section>
            <!-- The Modal -->
    <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
      
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Compra Realizada</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
      
                <!-- Modal body -->
                <div class="modal-body">
                  {#<a class="pdf" href="{{url('factura')}}">Descargar Factura</a>#}
                </div>
      
                <!-- Modal footer -->
                <div class="modal-footer">
                    
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
                </div>
      
              </div>
            </div>
          </div>
            <!--================End Shopping Cart Area =================-->
    </div>
{% endblock %}