<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Factura</title>
</head>
<body>
    <header>
        <img src="{{asset('img/logo.png')}}" alt="">
    </header>
    <container>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>foto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for row in array %}
                    
                {% endfor %}
            </tbody>
        </table>
    </container>
</body>
</html>