{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}
<div class="solid_banner_inner">
        <h3>Contact</h3>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
{% endblock %}