{% extends 'admin/baseadmin.html.twig' %}

    {% block containerfluid %}
    {% set countert = 0 %}
    
    <table id="resultado">
        <thead class="header">
            <tr>
                <th>Veces Entradas</th>
                <th>Fecha</th>
                
            </tr>
        </thead>
        <tbody id="todo">
            {% for visita in visitas %}
            <tr>
                <td class="veces">{{visita.num}}</td>
                <td class="fecha">{{visita.fecha}}</td>  
            </tr>
            {% set countert = countert + 1 %}
            
            {% endfor %}
        </tbody>
    </table>
    Visitas Totales = {{countert}}
    <div id="visitasdias"></div>
    {% endblock %}
    
