<form action="chat.php" method="get" id="formulario">
    <div id="identificacion">
        <input type="text" name="usuario">
    </div>
    <div id="chat">
        <div class="mensaje">
            <div class="usuario"></div>
            <div class="fecha"></div>
            <div class="texto"></div>
        </div>
        
    </div>
    <div id="mensaje">
        
        <input type="text" value="" placeholder="Escribir mensaje" name="mensaje">
        <input type="submit" value="Enviar" id="send" name="send">
    </div>
</form>