{% extends 'base.html.twig' %}
{% block body %}
<strong> La conversion de Grados Celsius a kelvin es {{kelvin}}</strong></br>
<strong> La conversion de Grados Celsius a fahrenheit es {{fahrenheit}}</strong>
<a href="{{ url('homepage') }}"> Enlace </a>
{% endblock %}