header{
    height: 120px;
}
#imagen{
    text-align: left;
}
#imagen img{
height: 116px;
}
header #titulo{
    position: relative;
    left: 420px;
    top: -120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

nav{
    margin: auto;
    padding-left: 20px;
    padding-top: 5px;
    height:35px;
    width:100%;
    background-color: #010F3D;
    font-size: 25px;
    color : #CCCCCC;
}
nav ul{
    list-style:none; /* Eliminamos los bullets */
    margin:0px; /* Quitamos los margenes */
    padding:0px; /* Quitamos el padding */
}
nav ul li {
    float:left; /* Hacemos que el menu se muestre horizontal */
    padding-left:10px;
    padding-right:10px;
    border-right:1px solid #FFFFFF;
    color:#CCCCCC;
}
nav ul li a{
    text-decoration:none;
    color:#CCCCCC;
    font-weight:bold;
}
nav ul li a:hover{
    color:#FFFFFF;
}
#cerrarsesion ul li{
    text-decoration:none;
    color:#CCCCCC;
    font-weight:bold;
    float: right;
    
}


#cuerpo{
    min-height: 400px;
    padding-left: 50px;
}

#cuerpo #titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 50px; 
    border-bottom: 2px solid #000000;
}
#principal{
    text-align: center;
    font-size: 40px;
}
section{
    width: 100%;
    padding-top: 50px;
    
}
section article{
    width: 400px;
    display: inline-block;
    background-color: #A4B7D3;
    border-radius: 5px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
section article h3{
    border-bottom: 2px solid #010F3D;
}
section article p{
    padding-left: 20px;
}

footer{
    text-align: center;
    background-color: #A4A6B1;
    height:40px ;
    line-height: 40px;
}
.error{
    color:red;
    border-color:red;
}